<configuration>

  <!-- Console appender 설정 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- File appender 설정 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 하루 단위로 로그 파일을 롤링하고, 30일간 보관하도록 설정 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 로그 패턴 -->
  <!-- {년}-{월}-{일} {시}:{분}:{초}:{밀리초} [{스레드명}] {로그 레벨(5글자로 맞춤)} {로거 이름(최대 36글자)} - {요청 ID} {IP} {로그 메시지} {줄바꿈} -->
  <property name="PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-5level]) %logger{36} - %X{requestId} %X{ip} %msg %n"/>

  <!-- profile별 설정 -->
  <!--dev -->
  <springProfile name="dev">
    <property name="LOG_PATH" value="./logs-dev"/>
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>
  <!-- test -->
  <springProfile name="test">
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  <!-- prod -->
  <springProfile name="prod">
    <property name="LOG_PATH" value="./logs-prod"/> <!-- 실제 서버 경로로 설정 -->
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

</configuration>